{% extends "home.html" %} 

{% block content %}

    
        <p></p>
    <h1 style="text-align: left;">Cambio de Password</h1>
    {% if error %}
        <div class="alert alert-danger" role="alert" class="justify-content-center" style="text-align: center;">
            {{error}}
        </div>
    {% endif %}
    <h1 style="text-align: left;">Cambio de Password</h1>
    <div class="d-flex align-items-center justify-content-center" style="height: 30vh;">   
        
        <form method="POST" class="row g-2" style="width: 320px; height: 210px;">
            
            {% csrf_token %} 
            
            {{form}}

            <th><label for="id_Password">Nuevo Password:</label></th>
            <td>
                <input type="Password" name="Password1" maxlength="20" required id="id_Password1">
            </td>
            <th><label for="id_Password">Repite el Password nuevo:</label></th>
            <td>
                <input type="Password" name="Password2" maxlength="20" required id="id_Password2">
            </td>
            
            <button type="submit" class="btn btn-outline-primary">Guardar</button>
            <input class="btn btn-outline-danger" type="reset" value="Cancelar">

        </form>   
    </div>
    
{% endblock %}