{% extends "home.html" %} {% block content %}
    <style>
        .invisible {
            display: none;
        }
    </style>
    <style>
        /* Establece un tamaño máximo de altura para el contenedor de la tabla */
        .table-container {
        max-height: 400px; /* ajusta según sea necesario */
        overflow-y: auto; /* habilita el desplazamiento vertical */
        }

        .invisible {
            display: none;
        }
    </style>
    <h1>ii</h1>

    
    {% if mensaje %}
    <div class="card">
        <div class="card-header">
          Mensaje
        </div>
        <div class="card-body">
          <h5 class="card-title">Curp Existente ¿Que deseas hacer con {{existe.Curp}}?</h5> 
            {% if M.btn_Modificar != 0 %}
                    <a class="btn btn-warning" href="{% url 'editarPersona' existe.id  existe.CvDireccion %}"> Editar </a> 
            {% endif %}
            
            {% if M.btn_Eliminar != 0 %}
                <a class="btn btn-danger" href="{% url 'eliminarPersonas' existe.id%}"> Eliminar </a>
            {% endif %}
            <a class="btn btn-secondary" href="{% url 'registrarPersonas' %}"> Cancelar </a>
        </div>
    </div>
    {% endif %}

    
    <h1>Mantenimiento De Personas</h1>

    <div class="content container">
        <form action="{% url 'aplicarEditarPersona' p.id p.CvDireccion %}" method="POST">
            {% csrf_token %} 
            <label for="lang">Curp:</label>
            <input type="text" name="Curp" id="id_curp" value="{{p.Curp}}" readonly>
            <label style="color: white;">Es</label>
            <label for="lang">Nombre:</label>
            <select name="NombrePersona" id="lang" onchange="mostrarBoton()">
                <option value="{{ p.n.id }}">
                    {{ p.n.Ds }}
                </option>
                {% for Nombre in Nombres %}
                    <option value="{{ Nombre.id }}">
                        {{ Nombre.Ds }}
                    </option>
                {% endfor %}
            </select>
            <label style="color: white;">Espacio__</label>
            <label for="lang">Apellido Paterno:</label>
            <select name="ApellidoPaterno" id="lang" onchange="mostrarBoton()">
                <option value="{{ p.ap.id }}">
                    {{ p.ap.Ds }}
                </option>
                {% for Apellido in Apellidos %}
                    <option value="{{ Apellido.id }}">
                        {{ Apellido.Ds }}
                    </option>
                {% endfor %}
            </select>
            <label style="color: white;">Espacio____</label>
            <label for="lang">Apellido Materno:</label>
            <select name="ApellidoMaterno" id="lang" onchange="mostrarBoton()">
                <option value="{{ p.am.id }}">
                    {{ p.am.Ds }}
                </option>
                {% for Apellido in Apellidos %}
                    <option value="{{ Apellido.id }}">
                        {{ Apellido.Ds }}
                    </option>
                {% endfor %}
            </select>
            
            <p></P>
            <label for="lang">Tipo De Persona:</label>
            <select name="TipoPersona" id="lang" onchange="mostrarBoton()">
                <option value="{{ p.tp.id }}">
                    {{ p.tp.Ds }}
                </option>
            </select>
            <label style="color: white;">Esp_</label>
            <label for="lang">Genero:</label>
            <select name="GeneroPersona" id="lang" onchange="mostrarBoton()">
                <option value="{{ p.g.id }}">
                    {{ p.g.Ds }}
                </option>
                {% for Genero in Generos %}
                    <option value="{{ Genero.id }}">
                        {{ Genero.Ds }}
                    </option>
                {% endfor %}
            </select>
            <label style="color: white;">Espacio_______</label>
            <label for="lang">Trabajo:</label>
            <select name="TrabajoPersona" id="lang" onchange="mostrarBoton()">
                <option value="{{ p.t.id }}">
                    {{ p.t.Ds }}
                </option>
                {% for Trabajo in Trabajos %}
                    <option value="{{ Trabajo.id }}">
                        {{ Trabajo.Ds }}
                    </option>
                {% endfor %}
            </select>
            <label style="color: white;">Espacio________</label>
           <label for="lang">Aficion:</label>
            <select name="AficionDs" id="lang" onchange="mostrarBoton()">
                <option value="{{ p.af.id }}">
                    {{ p.af.Ds }}
                </option>
                {% for Aficion in Aficions %}
                    <option value="{{ Aficion.id }}">
                        {{ Aficion.Ds }}
                    </option>
                {% endfor %}
            </select>
            <p></P>
            
            {{form}}

            <p></P>
            <label for="lang">Calle:</label>
            <select name="CalleDs" id="lang" onchange="mostrarBoton()">
                <option value="{{ d.ca.id }}">
                    {{ d.ca.Ds }}
                </option>
                {% for Calle in Calles %}
                    <option value="{{ Calle.id }}">
                        {{ Calle.Ds }}
                    </option>
                {% endfor %}
            </select>
            <label style="color: white;">Espacio_________</label>
            <label for="lang">Colonia:</label>
            <select name="ColoniaDs" id="lang" onchange="mostrarBoton()">
                <option value="{{ d.co.id }}">
                    {{ d.co.Ds }}
                </option>
                {% for Colonia in Colonias %}
                    <option value="{{ Colonia.id }}">
                        {{ Colonia.Ds }}
                    </option>
                {% endfor %}
            </select>
            <label style="color: white;">Espacio_____</label>
            <label for="lang">Municipio:</label>
            <select name="MunicipioDs" id="lang" onchange="mostrarBoton()">
                <option value="{{ d.mu.id }}">
                    {{ d.mu.Ds }}
                </option>
                {% for Municipio in Municipios %}
                    <option value="{{ Municipio.id }}">
                        {{ Municipio.Ds }}
                    </option>
                {% endfor %}
            </select>
            <label style="color: white;">Espacio______</label>
           <label for="lang">Ciudad:</label>
            <select name="CiudadDs" id="lang" onchange="mostrarBoton()">
                <option value="{{ d.ci.id }}">
                    {{ d.ci.Ds }}
                </option>
                {% for Ciudad in Ciudads %}
                    <option value="{{ Ciudad.id }}">
                        {{ Ciudad.Ds }}
                    </option>
                {% endfor %}
            </select>
            <p></P>

            
            {{form2}}
            <div class="d-flex align-items-center justify-content-center">
                <button type="submit" class="btn btn-success invisible" id="miBoton">Guardar</button>
                <h1 style="color: white;">aa</h1>
                <a class="btn btn-danger" href="{% url 'listarPersonas' %}"> Cancelar </a>
            </div>

        </form> 
    </div> 
<div class="table-container">
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">CURP</th>
                <th scope="col">Nombre</th>
                <th scope="col">Direccion</th>
                <th scope="col">Telefono</th>
                <th scope="col">E_Mail</th>
                <th scope="col">Genero</th>
                <th scope="col">Trabajo</th>
                <th scope="col">Fecha Nacimiento</th>
                <th scope="col">Tipo de Persona</th>
                <th scope="col">Aficion</th>
                <th scope="col">Notas</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for persona in personas %}
                <tr>
                    <th scope="row"> {{persona.id}} </th>
                    <td>{{persona.Curp}}</td>
                    <td>{{persona.Nombre.Ds}} {{persona.ApellidoPaterno.Ds}} {{persona.ApellidoMaterno.Ds}}</td>
                    <td>{{persona.DireccionNombre}}</td>
                    <td>{{persona.Telefono}}</td>
                    <td>{{persona.E_mail}}</td>
                    <td>{{persona.Genero.Ds}}</td>
                    <td>{{persona.Trabajo.Ds}}</td>
                    <td>{{persona.FecNac}}</td>
                    <td>{{persona.TpPerson.Ds}}</td>
                    <td>{{persona.Aficion.Ds}}</td>
                    <td>{{persona.Notas}}</td>
                    <td>
                        {% if M.btn_Modificar != 0 %}
                            <a class="btn btn-warning" href="{% url 'editarPersona' persona.id  persona.CvDireccion %}"> Editar </a> 
                        {% endif %}
                    
                        {% if M.btn_Eliminar != 0 %}
                            <a class="btn btn-danger" href="{% url 'eliminarPersonas' persona.id%}"> Eliminar </a> 
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div> 


<script>
    
    function mostrarBoton() {
        var combo = document.getElementById("lang");
        var boton = document.getElementById("miBoton");
        
        // Verificar si se seleccionó una opción diferente a la primera
        if (combo.value !== "opcion1") {
          boton.classList.remove("invisible"); // Mostrar el botón
        } else {
          boton.classList.add("invisible"); // Ocultar el botón
        }
    }

    var telefonoInput = document.getElementById("id_Telefono");
    var notasInput = document.getElementById("id_Notas");
    var E_mailInput = document.getElementById("id_E_mail");
    var FecNacInput = document.getElementById("id_FecNac");
    var CodPosInput = document.getElementById("id_CodPos");
    var NumeroInput = document.getElementById("id_Numero");
    var boton = document.getElementById("miBoton");

    telefonoInput.addEventListener("input", function() {
        boton.classList.remove("invisible");
    });
    notasInput.addEventListener("input", function() {
        boton.classList.remove("invisible");
    });
    CodPosInput.addEventListener("input", function() {
        boton.classList.remove("invisible");
    });
    NumeroInput.addEventListener("input", function() {
        boton.classList.remove("invisible");
    });
    E_mailInput.addEventListener("input", function() {
        boton.classList.remove("invisible");
    });
    FecNacInputInput.addEventListener("input", function() {
        boton.classList.remove("invisible");
    });

</script>
    
{% endblock %}