{% extends "home.html" %} {% block content %}
    <h1>ii</h1>
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
        
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
            class="offcanvas offcanvas-end"
            tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel"
        >
            <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Pc Accesorios</h5>
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
            ></button>
            </div>
            <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'Inicio' %}">Inicio</a>
                    <p></p>
                    {% if M.Catalago != 0 %}
                        <a class="nav-link active" aria-current="page" href="{% url 'listarCatalagos' modelo_nombre='cNombre'%}">Catalagos</a>
                        <p></p>
                    {% endif %}
                    {% if M.Personas != 0 %}
                        <a class="nav-link active" aria-current="page" href="{% url 'listarPersonas' %}">Personas</a>
                        <p></p>
                    {% endif %}
                    {% if M.Usuarios != 0 %}
                        <a class="nav-link active" aria-current="page" href="{% url 'listarUsuarios' %}">Usuarios</a>
                        <p></p>
                    {% endif %}
                    {% if M.Aplicaciones != 0 %}
                        <a class="nav-link active" aria-current="page" href="{% url 'listarAplicaciones' %}">Aplicaciones</a>
                        <p></p>
                    {% endif %}
                    {% if M.Accesos != 0 %}
                        <a class="nav-link active" aria-current="page" href="{% url 'listaraccesos' %}">Accesos</a>
                        <p></p>
                    {% endif %}
                    <a class="nav-link active" aria-current="page" href="{% url 'CambioPassword' %}">Cambiar contraseña</a>
                    <p></p>
                    <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Cerrar sesion</a>
                </li>
            </ul>
            </div>
        </div>
        </div>
    </nav>
    
    {% if error %}
        <p></p>
        <div class="alert alert-danger" role="alert" class="justify-content-center" style="text-align: center;">
            {{error}}
        </div>
    {% endif %}

    
    <h1>Modificacion De Usuarios</h1>

    <div class="content container">
        <form action="{% url 'aplicareditarusuarios' usuario.id %}" method="POST">
            {% csrf_token %} 

            <label for="lang">Nombre del usuario</label>
            <select name="lenguajes" id="lang">
                <option value="{{usuario.CvPerson}}">
                    {{registro.n.Ds}} {{registro.aP.Ds}} {{registro.aM.Ds}} ({{ registro.tp.Ds }})
                </option>
                {% for Persona in Personas %}
                    <option value="{{ Persona.id }}">
                        {{ Persona.n.Ds }} {{ Persona.aP.Ds }} {{ Persona.aM.Ds }} ({{ Persona.tp.Ds }})
                    </option>
                {% endfor %}
            </select>
            <p></P>
            
            {{form.as_p}}
            
            <div class="d-flex align-items-center justify-content-center">
                <button type="submit" class="btn btn-success">Guardar</button>
                <h1 style="color: white;">aa</h1>
                <input class="btn btn-danger" type="reset" value="Cancelar">
            </div>

        </form> 
    </div> 
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">CvUser</th>
                <th scope="col">Nombre</th>
                <th scope="col">Login</th>
                <th scope="col">FecIni</th>
                <th scope="col">FecFin</th>
                <th scope="col">EdoCta</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <p></P>
        <tbody>
            {% for u in usuarios %}
                <tr>
                    <th scope="row"> {{u.id}} </th>
                    <td>{{u.nombre.Ds}} {{u.aP.Ds}} {{u.aM.Ds}} ({{ u.tp.Ds }})</td>
                    <td>{{u.Login}}</td>
                    <td>{{u.FecIni}}</td>
                    <td>{{u.FecFin}}</td>
                    <td>{{u.EdoCta}}</td>
                    <td>
                        {% if M.btn_Modificar != 0 %}
                            <a class="btn btn-warning" href="{% url 'editarusuarios' usuario.id%}"> Editar </a> 
                        {% endif %}
                    </td>
                    <td>
                        {% if M.btn_Eliminar != 0 %}
                            <a class="btn btn-danger" href="{% url 'validareliminarusuario' usuario.id%}"> Eliminar </a> 
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p></P>
    <div class="row col-12 justify-content-end mb-2 pr-0">
        <a class="btn btn-primary" href="{% url 'listarUsuarios' %}">Regresar</a>
    </div>
{% endblock %}