{% extends "home.html" %} 

{% block content %}
    <style>
        /* Establece un tamaño máximo de altura para el contenedor de la tabla */
        .table-container {
        max-height: 300px; /* ajusta según sea necesario */
        overflow-y: auto; /* habilita el desplazamiento vertical */
        }
    </style>
    <p></p>
    <h1> Listado De Usuarios Reistrados </h1>
  
    <div class="card">
        <div class="card-header">
          Mensaje
        </div>
        <div class="card-body">
          <h5 class="card-title">Esta seguro de eliminar a {{Descripcion.Curp}}?</h5>
          <a a class="btn btn-primary" href="{% url 'aplicarEliminarPersona' Descripcion.id %}"> Aceptar </a>  
          <a class="btn btn-danger" href="{% url 'listarPersonas'%}"> Cancelar </a>
        </div>
    </div>
    
    <h1>Mantenimiento De Personas </h1>
    <p></p>

    {% if M.btn_Agregar != 0 %}
        <div class="row col-12 justify-content-end mb-2 pr-0">
            <a class="btn btn-success col-md-3" href="{% url 'registrarPersonas'%}">Agregar Nuevo</a>
        </div> 
    {% endif %}

    <p></p>
<div class="table-container">
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">CURP</th>
                <th scope="col">Nombre</th>
                <th scope="col">Direccion</th>
                <th scope="col">Telefono</th>
                <th scope="col">E_Mail</th>
                <th scope="col">Genero</th>
                <th scope="col">Trabajo</th>
                <th scope="col">Fecha Nacimiento</th>
                <th scope="col">Tipo de Persona</th>
                <th scope="col">Aficion</th>
                <th scope="col">Notas</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for persona in personas %}
                <tr>
                    <th scope="row"> {{persona.id}} </th>
                    <td>{{persona.Curp}}</td>
                    <td>{{persona.Nombre.Ds}} {{persona.ApellidoPaterno.Ds}} {{persona.ApellidoMaterno.Ds}}</td>
                    <td>{{persona.DireccionNombre}}</td>
                    <td>{{persona.Telefono}}</td>
                    <td>{{persona.E_mail}}</td>
                    <td>{{persona.Genero.Ds}}</td>
                    <td>{{persona.Trabajo.Ds}}</td>
                    <td>{{persona.FecNac}}</td>
                    <td>{{persona.TpPerson.Ds}}</td>
                    <td>{{persona.Aficion.Ds}}</td>
                    <td>{{persona.Notas}}</td>
                    <td>
                        {% if M.btn_Modificar != 0 %}
                            <a class="btn btn-warning" href="{% url 'editarPersona' persona.id  persona.CvDireccion %}"> Editar </a> 
                        {% endif %}
                    
                        {% if M.btn_Eliminar != 0 %}
                            <a class="btn btn-danger" href="{% url 'eliminarPersonas' persona.id%}"> Eliminar </a> 
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}