{% extends  "home.html" %} 

{% block content %}
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
        
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
            class="offcanvas offcanvas-end"
            tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel"
        >
            <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Pc Accesorios</h5>
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
            ></button>
            </div>
            <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'Inicio' %}">Inicio</a>
                    <p></p>
                    {% if M.Catalago != 0 %}
                        <a class="nav-link active" aria-current="page" href="{% url 'listarCatalagos' modelo_nombre='cNombre'%}">Catalagos</a>
                        <p></p>
                    {% endif %}
                    {% if M.Personas != 0 %}
                        <a class="nav-link active" aria-current="page" href="{% url 'listarPersonas' %}">Personas</a>
                        <p></p>
                    {% endif %}
                    {% if M.Usuarios != 0 %}
                        <a class="nav-link active" aria-current="page" href="{% url 'listarUsuarios' %}">Usuarios</a>
                        <p></p>
                    {% endif %}
                    {% if M.Aplicaciones != 0 %}
                        <a class="nav-link active" aria-current="page" href="{% url 'listarAplicaciones' %}">Aplicaciones</a>
                        <p></p>
                    {% endif %}
                    {% if M.Accesos != 0 %}
                        <a class="nav-link active" aria-current="page" href="{% url 'listaraccesos' %}">Accesos</a>
                        <p></p>
                    {% endif %}
                    <a class="nav-link active" aria-current="page" href="{% url 'CambioPassword' %}">Cambiar contraseña</a>
                    <p></p>
                    <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Cerrar sesion</a>
                </li>
            </ul>
            </div>
        </div>
        </div>
    </nav>

    <h1 style="text-align: left;"> gg</h1>
    <h1 style="text-align: left;">¡Bienvenido!, {{registro.nombre.Ds}} {{registro.aP.Ds}} {{registro.aM.Ds}} 👋 </h1>
    <h1 style="text-align: left; font-size: 30px;">Tipo de persona: {{registro.tp.Ds}}</h1>
    <h1 style="text-align: left; font-size: 30px;">Puesto: {{registro.t.Ds}}</h1>


{% endblock %}