{% extends "home.html" %} 

{% block content %}
    <style>
        /* Establece un tamaño máximo de altura para el contenedor de la tabla */
        .table-container {
        max-height: 300px; /* ajusta según sea necesario */
        overflow-y: auto; /* habilita el desplazamiento vertical */
        }

        .table thead th {
            position: sticky;
            top: 0;
            background-color: white; /* Elige un color de fondo para que el encabezado sea visible */
            z-index: 1;
        }
    </style>
    <p></p>
    <h1> Listado De Usuarios Reistrados </h1>
    
    
    {% if mensaje %}
        {% if mensaje == "No se puede realizar completa informacion"%}
            <div class="alert alert-danger" role="alert" class="justify-content-center" style="text-align: center;">
                {{ mensaje }}
            </div>
        {% else %}
            <div class="alert alert-success" role="alert" class="justify-content-center" style="text-align: center;">
                {{ mensaje }}
            </div>
        {% endif %}
    {% endif %}

    {% if mensaje2 %}
        <div class="card">
            <div class="card-header">
            Mensaje
            </div>
            <div class="card-body">
            <h5 class="card-title">Esta seguro de eliminar a {{Descripcion.Ds}}?</h5>
            <a a class="btn btn-primary" href="{% url 'aplicarEliminarCatalagos' Descripcion.id %}"> Aceptar </a>  
            <a class="btn btn-danger" href="{% url 'listarCatalagos' agregar  %}"> Cancelar </a>
            </div>
        </div>
    {% endif %}
    
    <h1>Mantenimiento De Catalagos </h1>
    <p></p>

    {% if M.btn_Agregar != 0 %}
        <div class="row col-12 justify-content-end mb-2 pr-0">
            <a class="btn btn-success col-md-3" href="{% url 'registrarCatalagos' agregar%}">Agregar Nuevo</a>
        </div> 
    {% endif %}

    <p></p>
    <label for="lang">Catalagos: </label>
        <select name="lenguajes" id="miLista">
            <option value="">{{titulo}}</option>
            {% for lista in listas %}
                <option value="{{ lista.Seleccion }}">
                    {{ lista.Nombre }}
                </option>
            {% endfor %}
         </select>

    <div class="container mt-4 text-left">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="form-group">
                    <input type="text" class="form-control" id="busqueda" placeholder="Buscar">
                </div>
            </div>
        </div>
    </div>
    
    <p></p>
    <p></p>
    
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  
<div class="table-container">  
    <table id="tablaResultados" class="table table-striped text-center">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for catalago in catalagos %}
                <tr>
                    <th scope="row"> {{catalago.id}} </th>
                    <td>{{catalago.Ds}}</td>
                    <td>
                        {% if M.btn_Modificar != 0 %}
                            <a class="btn btn-warning" href="{% url 'editarCatalagos' agregar catalago.id %}"> Editar </a> 
                        {% endif %}
                    
                        {% if M.btn_Eliminar != 0 %}
                            <a class="btn btn-danger" href="{% url 'eliminarCatalagos' catalago.id %}"> Eliminar </a> 
                        {% endif %}
                    </td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <script>
        document.getElementById('busqueda').addEventListener('input', function() {
            var busqueda = this.value;
        
            if (busqueda.length > 0) {
                fetch(`/buscar_catalogo/${busqueda}/`)  // Asegúrate de que esta URL esté bien configurada
                    .then(response => response.json())
                    .then(data => {
                        var tbody = document.getElementById('tablaResultados').querySelector('tbody');
                        tbody.innerHTML = '';  // Limpiar resultados anteriores
        
                        if (data.error) {
                            tbody.innerHTML = '<tr><td colspan="3">No se encontraron resultados</td></tr>';
                        } else {
                            data.detalleCatalogo.forEach(function(item) {
                                var row = document.createElement('tr');
                                
                                // Generar HTML para cada celda
                                var idCell = `<th scope="row">${item.id}</th>`;
                                var descripcionCell = `<td>${item.Ds}</td>`;
                                
                                // Generar HTML para la columna "Opciones"
                                var opcionesCell = `<td>`;
                                if (data.btn_modificar) {
                                    opcionesCell += `<a class="btn btn-warning" href="/editarCatalagos/agregar/${item.id}">Editar</a> `;
                                }
                                if (data.btn_eliminar) {
                                    opcionesCell += `<a class="btn btn-danger" href="/eliminarCatalagos/${item.id}">Eliminar</a>`;
                                }
                                opcionesCell += `</td>`;
        
                                row.innerHTML = idCell + descripcionCell + opcionesCell;
                                tbody.appendChild(row);
                            });
                        }
                    })
                    .catch(error => console.error('Error:', error));
            } else {
                // Si el campo de búsqueda está vacío, recargar la página actual
                window.location.reload();  // Esto recargará la página actual
            }
        });

        $(document).ready(function(){
          $('#miLista').change(function(){
            var seleccionado = $(this).val();
            var url = "{% url 'listarCatalagos' modelo_nombre='PLACEHOLDER' %}".replace('PLACEHOLDER', seleccionado);
            window.location.href = url;
          });
        });

        

    </script>

{% endblock %}