{% extends "home.html" %} 

{% block content %}
    <style>
        /* Establece un tamaño máximo de altura para el contenedor de la tabla */
        .table-container {
        max-height: 400px; /* ajusta según sea necesario */
        overflow-y: auto; /* habilita el desplazamiento vertical */
        }
    </style>
    <p></p>
    <h1> Listado De Usuarios Reistrados </h1>
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
        
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
            class="offcanvas offcanvas-end"
            tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel"
        >
            <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Pc Accesorios</h5>
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
            ></button>
            </div>
            <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'Inicio' %}">Inicio</a>
                    <p></p>
                    {% if M.Catalago != 0 %}
                        <a class="nav-link active" aria-current="page" href="{% url 'listarCatalagos' modelo_nombre='cNombre'%}">Catalagos</a>
                        <p></p>
                    {% endif %}
                    {% if M.Personas != 0 %}
                        <a class="nav-link active" aria-current="page" href="{% url 'listarPersonas' %}">Personas</a>
                        <p></p>
                    {% endif %}
                    {% if M.Usuarios != 0 %}
                        <a class="nav-link active" aria-current="page" href="{% url 'listarUsuarios' %}">Usuarios</a>
                        <p></p>
                    {% endif %}
                    {% if M.Aplicaciones != 0 %}
                        <a class="nav-link active" aria-current="page" href="{% url 'listarAplicaciones' %}">Aplicaciones</a>
                        <p></p>
                    {% endif %}
                    {% if M.Accesos != 0 %}
                        <a class="nav-link active" aria-current="page" href="{% url 'listaraccesos' %}">Accesos</a>
                        <p></p>
                    {% endif %}
                    <a class="nav-link active" aria-current="page" href="{% url 'CambioPassword' %}">Cambiar contraseña</a>
                    <p></p>
                    <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Cerrar sesion</a>
                </li>
            </ul>
            </div>
        </div>
        </div>
    </nav>


    {% if mensaje %}
        {% if mensaje == "No se puede realizar completa informacion"%}
        <div class="alert alert-danger" role="alert" class="justify-content-center" style="text-align: center;">
            {{ mensaje }}
        </div>
        {% else %}
            <div class="alert alert-success" role="alert" class="justify-content-center" style="text-align: center;">
                {{ mensaje }}
            </div>
        {% endif %}
    {% endif %}
    
    <h1>Mantenimiento De Personas </h1>
    <p></p>

    {% if M.btn_Agregar != 0 %}
        <div class="row col-12 justify-content-end mb-2 pr-0">
            <a class="btn btn-success col-md-3" href="{% url 'registrarPersonas'%}">Agregar Nuevo</a>
        </div> 
    {% endif %}

    <p></p>
<div class="table-container">
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">CURP</th>
                <th scope="col">Nombre</th>
                <th scope="col">Direccion</th>
                <th scope="col">Telefono</th>
                <th scope="col">E_Mail</th>
                <th scope="col">Genero</th>
                <th scope="col">Trabajo</th>
                <th scope="col">Fecha Nacimiento</th>
                <th scope="col">Tipo de Persona</th>
                <th scope="col">Aficion</th>
                <th scope="col">Notas</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for persona in personas %}
                <tr>
                    <th scope="row"> {{persona.id}} </th>
                    <td>{{persona.Curp}}</td>
                    <td>{{persona.Nombre.Ds}} {{persona.ApellidoPaterno.Ds}} {{persona.ApellidoMaterno.Ds}}</td>
                    <td>{{persona.DireccionNombre}}</td>
                    <td>{{persona.Telefono}}</td>
                    <td>{{persona.E_mail}}</td>
                    <td>{{persona.Genero.Ds}}</td>
                    <td>{{persona.Trabajo.Ds}}</td>
                    <td>{{persona.FecNac}}</td>
                    <td>{{persona.TpPerson.Ds}}</td>
                    <td>{{persona.Aficion.Ds}}</td>
                    <td>{{persona.Notas}}</td>
                    <td>
                        {% if M.btn_Modificar != 0 %}
                            <a class="btn btn-warning" href="{% url 'editarPersona' persona.id  persona.CvDireccion %}"> Editar </a> 
                        {% endif %}
                    
                        {% if M.btn_Eliminar != 0 %}
                            <a class="btn btn-danger" href="{% url 'eliminarPersonas' persona.id%}"> Eliminar </a> 
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

    <script>
        function confirmarEliminacion(usuarioId) {
            var respuesta = confirm('¿Estás seguro de que deseas eliminar el usuario?');
    
            if (respuesta) {
                // Si el usuario hace clic en "Aceptar", redirige al enlace de eliminación.
                window.location.href = '{% url 'eliminarusuario' 0 %}'.replace('0', usuarioId);
            } else {
                // Si el usuario hace clic en "Cancelar", no hagas nada.
                // Puedes agregar código adicional aquí si es necesario.
            }
        }
    </script>

{% endblock %}