{% extends "home.html" %} 

{% block content %}
    <style>
        /* Establece un tamaño máximo de altura para el contenedor de la tabla */
        .table-container {
        max-height: 300px; /* ajusta según sea necesario */
        overflow-y: auto; /* habilita el desplazamiento vertical */
        }

        .table thead th {
            position: sticky;
            top: 0;
            background-color: white; /* Elige un color de fondo para que el encabezado sea visible */
            z-index: 1;
        }
    </style>
    <p></p>
    <h1> Listado De Usuarios Reistrados </h1>
    
    
    {% if mensaje %}
        {% if mensaje == "No se puede realizar completa informacion"%}
            <div class="alert alert-danger" role="alert" class="justify-content-center" style="text-align: center;">
                {{ mensaje }}
            </div>
        {% else %}
            <div class="alert alert-success" role="alert" class="justify-content-center" style="text-align: center;">
                {{ mensaje }}
            </div>
        {% endif %}
    {% endif %}

    {% if mensaje2 %}
        <div class="card">
            <div class="card-header">
            Mensaje
            </div>
            <div class="card-body">
            <h5 class="card-title">Esta seguro de eliminar a {{Descripcion.Ds}}?</h5>
            <a a class="btn btn-primary" href="{% url 'aplicarEliminarCatalagos' Descripcion.id %}"> Aceptar </a>  
            <a class="btn btn-danger" href="{% url 'listarCatalagos' agregar  %}"> Cancelar </a>
            </div>
        </div>
    {% endif %}
    
    <h1>Mantenimiento De Catalagos </h1>
    <p></p>

    <p></p>
    <label for="lang">Catalagos: </label>
        <select name="lenguajes" id="miLista">
            <option value="">{{titulo}}</option>
            {% for lista in listas %}
                <option value="{{ lista.Seleccion }}">
                    {{ lista.Nombre }}
                </option>
            {% endfor %}
         </select>

    <div class="container mt-4 text-left">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="form-group">
                    <input type="text" class="form-control" id="myInput" placeholder="Buscar"  readonly>
                </div>
            </div>
        </div>
    </div>
    
    <p></p>
    <p></p>
    
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="table-container">  
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>
    <script>
        
        $(document).ready(function(){
          $('#miLista').change(function(){
            var seleccionado = $(this).val();
            var url = "{% url 'listarCatalagos' modelo_nombre='PLACEHOLDER' %}".replace('PLACEHOLDER', seleccionado);
            window.location.href = url;
          });
        });

        var catalago = "agregar";
        document.getElementById("myInput").addEventListener("input", function(event) {
            
            var descripcion = event.target.value;
            var url = "{% url 'listarCatalagosBuscar' busqueda='PLACEHOLDER' %}".replace('PLACEHOLDER', descripcion);
            window.location.href = url;
        });

    </script>

{% endblock %}